 <table class="table">
   <thead class="thead-dark">
     <tr>
       <th scope="col">{{title}}</th>
       <th scope="col">Class Description</th>
       <th scope="col">Credits</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let class of classes;let classNum = index">
       <th scope="row">{{classNum+1}}</th>
      <td *ngIf="!isArray(class)">
        {{ class.class }}
      </td>
      <td class="creditCount" *ngIf="!isArray(class)">
        {{ class.credit }}
      </td>

      <td *ngIf="isArray(class)">
        {{ class[0].class }} <em>OR</em> {{ class[1].class }}
      </td>
      <td class="creditCount" *ngIf="isArray(class)">
        {{ class[0].credit }}
      </td>
     </tr>
   </tbody>
 </table>
