<div id="semesterContainer" class="card-container" *ngFor="let element of terms">
    <!-- <ng-container *ngComponentOutlet="element" ></ng-container> -->
    <app-empty-term  semsester={{semesterCount}} startYear={{currentUserYear}} term ={{currentUserTerm}} class="card" (notify)="handleNotify($event)"></app-empty-term>
</div>


<!--div #parent will contain our child components -->


<td class= "year-data"> 
    <select #myTerm id="term" class="drop-down">
            <option value="Fall" >Fall</option>
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
    </select> 
    Year: <input #myYear type="text" id="year" maxlength="4">
    <button id = "newSemester" (click)= 'buttonPop(myYear.value,myTerm.value)'>Add Semester</button>
</td>

<button id = "submitUserInfo" class = "submitButton" (click) ='submitData()'>Submit</button>