
<table id= "table" class="table">
        <thead class="thead-dark">
        <tr>
            <th id="semeseterNum" scope="col"></th>
            <th scope="col">Class Name</th>
            <th scope="col">Credits</th>
        </tr>
        </thead>

        <tbody>
            <tr>
            </tr>
        </tbody>
    
        
        <td class = "buttonPos">
            <button (click)= 'addClass()'>Insert a Class</button>
        </td>  

        <td class = "buttonPos">
            <button (click)= "handleClick()" >Save Semester</button>
        </td>
        
</table>
        