<p class="info">
  Welcome to the Computer Science Academic Planner! 
  <br>To begin click on "My Info" on the nav bar! 
  <br>Select the appropriate semester and year using the drop-downs and click
  <br>"Add semester"
  <br>Click on "Insert a Class" and then type in the seven character course code under class name and the corresponding credits under credits
  <br>Repeat the "Insert a Class" step until you have all off your classes for semester____!
  <br>Than repeat for all taken semesters
  <br>You may also put in the current and future semesters; however, they may be subject to change!
  <br>Click on Submit and look at your plan!
  
</p>


<p class="disclaimer">
  This is a tool that is used to assist in your college carrer alongside advisment.
  <br>It is your responsibility to use advisment to graduate on time 
</p>